ibexa.query.rest.field_results:
    path: /api/ibexa/v2/content/objects/{contentId}/versions/{versionNumber}/fields/{fieldDefinitionIdentifier}/query/results
    defaults:
        _controller: Ibexa\Bundle\FieldTypeQuery\Controller\QueryFieldRestController:getResults
    methods: [GET]
    requirements:
        contentId: \d+
        fieldId: \d+
        versionNumber: \d+
