services:
    _defaults:
        autoconfigure: true
        autowire: true
        public: true

    Ibexa\Bundle\FieldTypeQuery\Controller\QueryFieldRestController: ~

    Ibexa\FieldTypeQuery\QueryFieldService:
        arguments:
            $queryTypeRegistry: '@Ibexa\Core\QueryType\ArrayQueryTypeRegistry'

    Ibexa\Contracts\FieldTypeQuery\QueryFieldServiceInterface: '@Ibexa\FieldTypeQuery\QueryFieldService'
